<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @bill.client %>
</p>

<p>
  <strong>Client order:</strong>
  <%= @bill.client_order %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @bill.cost %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
